.food-write{
   width : 60%;
   height : 1000px;
   margin: 0 auto;
   margin-top : 100px;
   margin-bottom: 30px;
   overflow: hidden;
   border-bottom: 5px solid #FFCD12;
}

/*메뉴에 체크*/

.header .menu .menu-food{
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
  margin-top: 58px;
}

.header .menu .menu-cafe{
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  margin-top: 90px;
}

.header .menu .menu-food .menu-food-i > i{
   font-size : 30px;
   color : #0054FF;
   font-weight : bold;
   padding-right : 15px;
}
/*메뉴에 체크*/

.food-write .write-title{
  width: 100%;
  height: 60px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 5px solid #FFCD12;
}
.food-write .write-title h1{
  font-size: 35px;
}
.food-write .write-left{
  width: 20%;
  height : 100%;
  text-align: right;
  float: left;
  font-family: 'Nanum Gothic Coding', monospace;
}
.food-write .write-right{
  width: 80%;
  height: 100%;
  float: left;
  font-family: 'Nanum Gothic Coding', monospace;
}
.write-left .bName, .write-left .bTime, .write-left .bTel, .write-left .bImg, .write-left .bAdd, .write-left .bLocation, .write-left .bKind,.write-left .bMenu,.write-left .bInfo,.write-left .bHash{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.write-left p{
  font-size: 20px;
  padding-right: 15px;
  font-weight: bold;
}
.write-left .bKind{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.write-left .bMenu{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.write-left .bInfo, .write-left .bHash{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.write-right .bName, .write-right .bTel, .write-right .bTime, .write-right
.bImg, .write-right .bAdd, .write-right .bLocation{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.write-right input{
  font-size: 18px;
  width: 300px;
  height: 35px;
  padding-left: 10px;
}
.write-right select{
   width : 150px;
   height: 32px;
   font-size : 18px;
   padding-left : 10px;
   margin-right : 10px;
}
.write-right .bLocation input{
  font-size: 18px;
  width: 300px;
  height: 35px;
  padding-left: 10px;
}
.write-right .bLocation .bLocationBtn{
   width : 150px;
   height: 32px;
   font-size : 18px;
   margin-left : 10px;
   padding-right : 10px;
   text-align: center;
}
.write-right .bLocation #sample4_roadAddress{
   width : 400px;
   height: 32px;
   font-size : 18px;
   padding-left : 10px;
}
.write-right .bKind{
  width: 100%;
  height: 90px;
  margin-top: 5px;
}
.write-right .bKind input{
  font-size: 18px;
  width: 40px;
  height: 20px;
  margin-right: 2px;
}
.write-right .bMenu{
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.write-right .bMenu1, .bMenu2, .bMenu3{
  width: 30%;
  height: 100%;
  margin-right: 20px;
}
.write-right .bMenu input{
  font-size: 15px;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}
.write-right .bInfo, .write-right .bHash{
  width: 100%;
  height: 200px;
}
.write-right .bHash ul{
  padding-top: 10px;
  overflow: hidden;
}
.write-right .bHash ul > li{
  float: left;
  padding-right: 10px;
}
.write-right textarea{
  padding-left: 10px;
  padding-top: 10px;
}
.bWriteBtn{
  font-family: 'Nanum Gothic Coding', monospace;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: right;
}
.bWriteBtn > input{
	font-family: 'Nanum Gothic Coding', monospace;
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
}

.write-right .bHash, .write-left .bHash, .write-right .bStar, .write-left .bStar{
   width: 100%;
   height: 100px;
}